.container {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;

}
.card {
    background-color: aliceblue;
    height: 100px;
    width: 110px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 5px;
    margin: 2px;
}
.description{
    font-size: 0.3rem;
    align-self: normal;
    color: black;
}
h4{
    font-size: 0.5rem;
    color: black;
    text-align: center;
}