#clock-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock {
    background-color: aliceblue;
    height: 220px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time {
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}