#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#time {
    margin: 10px;
    font-size: 1.75rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button {
    height: 40px;
    width: 60px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}